<%- include('./partials/header.ejs')%>
<%- include('./partials/nav.ejs')%>

        <section>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Nº Telefono</th>
                        <th>opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(bigData) {%>
                        <% for(data of bigData) {%>
                            <tr>
                                <td><%= data.id%></td>
                                <td><%= data.nombres%></td>
                                <td><%= data.apellidos%></td>
                                <td><%= data.telefono%></td>
                                <td class="campo">
                                    <a href="/delete-person/<%= data.id %>" class="delete-link"><input type="button" value="Eliminar" class="delete-input"></a>
                                    <a href="/edit-person/<%= data.id %>" class="edit-link"><input type="button" value="Editar" class="edit-input"></a>
                                </td>
                            </tr>
                        <% } %>
                    <% } else {%>
                        <H1>Not Data Found</H1>
                    <% } %>

                </tbody>
            </table>
        </section>
        <aside>

            <h2>Formulario de inscripcion</h2><br>
            <form action="/create-person" method="POST">
                <label for="Name">Nombres:</label><br>
                <input id="name" name="name" type="text" autocomplete="off"><br>
                <label for="Apellido">Apellidos:</label><br>
                <input id="lastName" name="lastName" type="text" autocomplete="off"><br>
                <label for="Numero">Nº Telefono:</label><br>
                <input id="number" name="number" type="text" autocomplete="off"><br>
                <input type="submit" class="envio" id="enviar" ></input>
            </form>
        </aside>

<%- include('./partials/footer.ejs')%>